<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "org.maltec.bnikzn"
        versionCode="10"
        version   = "1.1.0">

    <!-- versionCode is optional and Android only -->

    <name>BNI KZN</name>
    <icon src="img/logo.png" gap:platform="android" gap:density="ldpi" />
    <icon src="img/logo.png" gap:platform="android" gap:density="mdpi" />
    <icon src="img/logo.png" gap:platform="android" gap:density="hdpi" />
    <icon src="img/logo.png" gap:platform="android" gap:density="xhdpi" />
    <icon src="img/logo.png" gap:platform="ios" />
    <description>
        BNI KZN Member application
    </description>

    <author href="http://maltec.co.za" email="jeremy@maltec.co.za">
        Jeremy Malherbe
    </author>

</widget>
